<%-include('header')-%>
<body class="container-fluid">
    <div class="row">
      <div class="col-2">
        <%-include('navbar')-%>
      </div>
      <div class="col-10">
          <form method="post" action="/categories/add-new">

               <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">add new product</h5>
  
              <div class="form-outline mb-4">
                  <label class="form-label" for="form">Product Name</label>
                <input name="categories_name" type="categories_name" id="form" class="form-control form-control-lg" />
              </div>
  
              <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="submit">add</button>
              </div>
            </form>
      </div>
    </div>
    
</body>
<script>
   var element = document.getElementById("flexSwitchCheckChecked");
element.addEventListener("change", function (event) {
    console.log(event.target.checked)
    // if (event.target.checked) {
    //     console.log("Checked");
    // } else {
    //     console.log("Not checked");
    // }
});
</script>
<%-include('footer')-%>
