<body class="container-fluid">
    <%-include('header')-%>
    <div class="row">
        <div class="col-2">
          <%-include('navbar')-%>
        </div>
        <div class="col-10">
          <h1>categories</h1>
        </div>
         
    </div>
    <%-include('footer')-%>
    
</body>