
    
<body class="container-fluid">
    <%-include('header')-%>
    
    <div class="row">
        <div class="col-2">
          <%-include('navbar')-%>
        </div>
        <div class="col-10">
          <h1>dashboard</h1>
        </div>
         
    </div>
    <%-include('footer')-%>
    
</body>
<script>
//   window.onload  = Swal.fire({
//   // position: 'top-end',
//   icon: 'success',
//   title: 'logged in',
//   showConfirmButton: false,
//   timer: 1500
// })
 </script>


