 <!-- <nav class="navbar bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-profile">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/banner">Banner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  
  </nav> -->

  <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="admin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                       <a href="/products">Product List</a>
                        <a href="page-products-list.html">Add Product List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/categories"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Categories</a>
                        <a href="page-orders-2.html">Add Category</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/user-profile"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Users</a>
                        <!-- <a href="page-sellers-list.html">Sellers list</a> -->
                        <!-- <a href="page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/banner"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banner</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Banners</a>
                        <a href="page-form-product-2.html">Add Banner</a>
                        <!-- <a href="page-form-product-3.html">Add product 3</a> -->
                        <!-- <a href="page-form-product-4.html">Add product 4</a> -->
                    </div>
                </li>
            </ul>
            <!-- <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>