 <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h1>gadget-in</h1>
                <!-- <img src="/admin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard"> -->
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                       <a href="/products">Product List</a>
                        <a href="/products/add-new">Add Product List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/categories"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                    <div class="submenu">
                        <a href="/categories">Categories</a>
                        <a href="/categories/add-new">Add Category</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/user-profile"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/user-profile">Users</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/banner"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banner</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Banners</a>
                        <a href="page-form-product-2.html">Add Banner</a>
                    </div>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>