<body>
    <%-include('header')-%>
    <div class="container">
        <a href="/products/add-new"><button type="button" class="btn btn-primary m-3">add new product</button></a>
        <h1>products</h1>
        
    </div>
    <%-include('footer')-%>
    
</body>