<%-include('header')-%>
    <div style="display: flex;justify-content: center;">
    </div>
    <div style="display: flex;justify-content: center; padding-top: 100px;padding-bottom: 100px;">
        <h1>404 page not found</h1>
      </div>

<%-include('footer')-%>