<%-include('header')-%> 
  <!-- Shop Start -->
  <div class="container-fluid">
	<div class="row px-xl-5">
		<!-- Shop Sidebar Start -->
		<div class="col-lg-3 col-md-4">
			<!-- Price Start -->
			<input type="hidden" id="custId" name="custId" value="<%=cateId%>">
			<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
			<div class="bg-light p-4 mb-30">
				<form>
					<!-- <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" checked id="price-all">
						<label class="custom-control-label" for="price-all">All Price</label>
						<span class="badge border font-weight-normal">1000</span>
					</div> -->
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="price-1">
						<label class="custom-control-label" for="price-1">₹0 - ₹1000</label>
						<!-- <span class="badge border font-weight-normal">150</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="price-2">
						<label class="custom-control-label" for="price-2">₹1000 - ₹2000</label>
						<!-- <span class="badge border font-weight-normal">295</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="price-3">
						<label class="custom-control-label" for="price-3">₹2000 - ₹5000</label>
						<!-- <span class="badge border font-weight-normal">246</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="price-4">
						<label class="custom-control-label" for="price-4">₹5000 - ₹10000</label>
						<!-- <span class="badge border font-weight-normal">145</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
						<input type="checkbox" class="custom-control-input" id="price-5">
						<label class="custom-control-label" for="price-5">₹10000 - Above</label>
						<!-- <span class="badge border font-weight-normal">168</span> -->
					</div>
				</form>
			</div>
			<!-- Price End -->
			
			<!-- Color Start -->
			<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by brand</span></h5>
			<div class="bg-light p-4 mb-30">
				<form>
					<!-- <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" checked id="color-all">
						<label class="custom-control-label" for="price-all">All Brands</label>
						<span class="badge border font-weight-normal">1000</span>
					</div> -->
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="color-1">
						<label class="custom-control-label" for="color-1">Realme</label>
						<!-- <span class="badge border font-weight-normal">150</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="color-2">
						<label class="custom-control-label" for="color-2">Nothing</label>
						<!-- <span class="badge border font-weight-normal">295</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="color-3">
						<label class="custom-control-label" for="color-3">samsung</label>
						<!-- <span class="badge border font-weight-normal">246</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
						<input type="checkbox" class="custom-control-input" id="color-4">
						<label class="custom-control-label" for="color-4">Noise</label>
						<!-- <span class="badge border font-weight-normal">145</span> -->
					</div>
					<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
						<input type="checkbox" class="custom-control-input" id="color-5">
						<label class="custom-control-label" for="color-5">Fasttrack</label>
						<!-- <span class="badge border font-weight-normal">168</span> -->
					</div>
				</form>
			</div>
			<!-- Color End -->
		</div>
		<!-- Shop Sidebar End -->


		<!-- Shop Product Start -->
		<div class="col-lg-9 col-md-8">
			<div class="row pb-3">
				<div id="productList" class="col-12 pb-1">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<div>
							<!-- <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
							<button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button> -->
						</div>
						<div class="ml-2">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Price - Low to high</a>
									<a class="dropdown-item" href="#">Price - high to Low</a>
									<a class="dropdown-item" href="#">Name A - Z</a>
									<a class="dropdown-item" href="#">Name Z - A</a>
								</div>
							</div>
							<div class="btn-group ml-2">
								<!-- <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">10</a>
									<a class="dropdown-item" href="#">20</a>
									<a class="dropdown-item" href="#">30</a>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-12 p-0" id="productList">

				</div> -->
				
				<!-- <div class="col-12">
					<nav>
					  <ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					  </ul>
					</nav>
				</div> -->
			</div>
		</div>
		<!-- Shop Product End -->
	</div>
</div>
<!-- Shop End -->

<script src="/user/js/external.js"></script>

<script>

	const loadData = async()=>{
		cateId = document.getElementById('custId').value
		const loadRespose = await fetch(`/productslist`,{ method: 'POST',headers: {'Content-Type':'application/json'} ,body:JSON.stringify({cateID:cateId})});
        const loadResposeBody = await loadRespose.json();
		let x = ""
		if(loadResposeBody.data) {
			console.log(loadResposeBody.data)
			for(i=0;i<loadResposeBody.data.length;i++) {
				x = x + `<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
						<div class="product-item bg-light mb-4">
							<div class="product-img position-relative overflow-hidden">
								<img class="img-fluid w-100" src="/uploads/${loadResposeBody.data[i].product_image[0]}" alt="">
								<div class="product-action">
									<a onclick="addToCart('${loadResposeBody.data[i]._id}')" class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></a>
									<a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
								</div>
							</div>
							<div class="text-center py-4">
								<a class="h6 text-decoration-none text-truncate" href="/products/?id=${loadResposeBody.data[i]._id}"><${loadResposeBody.data[i].product_brand_name} ${loadResposeBody.data[i].product_name}</a>
								<div class="d-flex align-items-center justify-content-center mt-2">
									<h5>₹${loadResposeBody.data[i].price}</h5><h6 class="text-muted ml-2"><del></del></h6>
								</div>
							</div>
						</div>
					</div>`
			}
		} else {
			x = x + `No item Found`
		}
		document.getElementById('productList').insertAdjacentHTML("afterend", x);
	}

	loadData()
	
</script>

<%-include('footer')-%>