<%-include('header')-%>
    <div style="display: flex;justify-content: center;">
      <p><%= message %></p>
    </div>
    <%if(popUp) {%>
    <div style="padding-top: 30px;padding-bottom: 30px;" class="container">
      <div style="display: flex;justify-content: center;" class="row justify-content-md-center">
          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-sm-12 mt-5 bgWhite">
                <div class="title">
                  Verify OTP
                </div>
                
                <form method="post" action="/login-register" class="mt-5">
                  <input name="otp" class="otp" required>
                  <hr class="mt-4">
                <button type="submit" class='btn btn-primary btn-block mt-4 mb-4 customBtn'>Verify</button>
                </form>
                
              </div>
            </div>
          </div>
      </div>
    </div>

    <%} else {%>
		<div class="container">
        
      <div style="padding: 20px; display: flex;justify-content: center;">
          <div style="padding: 20px; width: 50%;">
              <h5>Sign In</h5>
              <form method="post" action="/login">

                  <div class="form-outline mb-4">
                      <input name="email" type="email" id="form2Example27" class="form-control form-control-lg" required/>
                      <label class="form-label" for="form2Example27">Email Id</label>
                    </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="form2Example27" class="form-control form-control-lg" minlength="5" required/>
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>
                </form>

          </div>
          <!-- <div style="border-left:1px solid #000;height:500px"></div> -->
          <hr style="border-left: 6px solid green;height: 250px;">
          <div style="padding: 20px;width: 50%;">
              <h5>Register</h5>
              <form method="post" action="/register">
    
                  <div class="form-outline mb-4">
                    <input name="name" type="name" id="form2Example17" class="form-control form-control-lg" required/>
                    <label class="form-label" for="form2Example17">Name</label>
                  </div>

                  <div class="form-outline mb-4">
                      <input name="email" type="email" id="form2Example27" class="form-control form-control-lg" required/>
                      <label class="form-label" for="form2Example27">Email Id</label>
                    </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="form2Example27" class="form-control form-control-lg" minlength="5" required/>
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Sign-up</button>
                  </div>
                </form>

          </div>
      </div>
      
  </div>

<%}%>


		<%-include('footer')-%>