<body>
    <%-include('header')-%>
    <div class="container">
        
        <div class="row">
            <div class="col-6 p-3">
                <h5>Sign In</h5>
                <p><%= message %></p>
                <form method="post" action="/login">

                    <div class="form-outline mb-4">
                        <input name="email" type="email" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Email Id</label>
                      </div>
  
                    <div class="form-outline mb-4">
                      <input name="password" type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
                  </form>

            </div>
            <div class="col-6 p-3">
                <h5>Register</h5>
                <form method="post" action="/register">
      
                    <div class="form-outline mb-4">
                      <input name="name" type="name" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Name</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input name="email" type="email" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Email Id</label>
                      </div>
  
                    <div class="form-outline mb-4">
                      <input name="password" type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Sign-up</button>
                    </div>
                  </form>

            </div>
        </div>
        
    </div>
    <%-include('footer')-%>
    
</body>