<body>
    <%-include('header')-%>
    <div class="container">
        
        <h1>product view</h1>
        <div>name:</div>
        <div>price :</div>
        <div>quentity:</div>
        
        
    </div>
    <%-include('footer')-%>
    
</body>